<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/mystyle/css/shop.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="/mystyle/css/Sellerber.css" type="text/css" rel="stylesheet"/>
    <link href="/mystyle/css/bkg_ui.css" type="text/css" rel="stylesheet"/>
    <link href="/mystyle/font/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <script src="/mystyle/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/mystyle/js/jquery.cookie.js"></script>
    <script src="/mystyle/js/shopFrame.js" type="text/javascript"></script>
    <script src="/mystyle/js/Sellerber.js" type="text/javascript"></script>
    <script src="/mystyle/js/layer/layer.js" type="text/javascript"></script>
    <script src="/mystyle/js/jquery.dataTables.min.js"></script>
    <script src="/mystyle/js/jquery.dataTables.bootstrap.js"></script>

    <!--[if lt IE 9]>
    <script src="/mystyle/js/html5shiv.js" type="text/javascript"></script>
    <script src="/mystyle/js/respond.min.js"></script>
    <script src="/mystyle/js/css3-mediaqueries.js" type="text/javascript"></script>
    <![endif]-->
    <title>产品列表</title>
</head>

<body>
<div class="margin" id="page_style">
    <div class="operation clearfix">
        <span class="submenu"><a data-toggle='modal' data-target='#editInsertBrand' class="btn button_btn bg-deep-blue" title="添加品牌"><i
                class="fa  fa-edit"></i>&nbsp;添加品牌</a></span>
    </div>
    <!--列表展示-->
    <div class="list_Exhibition margin-sx">
        <table class="table table_list table_striped table-bordered" id="sample-table">
            <thead>
            <tr>
                <th width="100">品牌编号</th>
                <th width="200">品牌名称</th>
                <th width="100">品牌描述</th>
                <th width="220">操作</th>
            </tr>
            </thead>

        </table>
    </div>
</div>

<div th:replace="/account/brand/brandEdit"></div>
<div th:replace="/account/brand/inserBrandEdit"></div>
</body>
</html>
<script type="text/javascript">

    var DEFAULT_PAGE_SIZE = 5;
    $(document).ready(function () {
        initBrandTable(DEFAULT_PAGE_SIZE);
    });

    //修改绑定保存方法
    $("#editBrandModel").bind("click", function () {
        saveBrandEdit();
    });
    //插入保存绑定按钮
    $("#saveInsertBrandBtn").bind("click", function () {
        insertBrand();
    });
    //设置框架
    $(function () {
        $("#page_style").frame({
            float: 'left',
            menu_nav: '.operation',
            color_btn: '.skin_select',
        });
    });

    function initBrandTable(pageSize) {
        $('#sample-table').DataTable({
            'paging': true, //分页
            "serverSide": true, //开启后端分页
            "pagingType": "full_numbers", //分页样式的类型simple/simple_numbers/full/full_numbers
            "pageLength": pageSize, //定义初始的页长
            "processing": true,
            "destroy": true, //允许销毁替换，在表格重新查询时，可以自动销毁以前的data
            'lengthChange': true, //控制是否能够调整每页的条数
            'searching': true,
            'data-show-refresh': true,
            'ordering': true,
            'autoWidth': false,
            "ajax": function (data, callback, settings) {
                // 从data获取查询数据
                var columIndex = data.order[0].column;
                var sort = data.order[0].dir;
                var orderBy = data.columns[columIndex].name;
                pageSize = data.length == undefined ? pageSize : data.length;

                var searchVo = {};
                searchVo.currentPage = (data.start / pageSize) + 1;
                searchVo.pageSize = pageSize;
                searchVo.orderBy = orderBy;
                searchVo.sort = sort;
                searchVo.keyWord = data.search.value;

                $.ajax({
                    url: "/api/brands",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(searchVo),
                    success: function (rs) {
                        var fData = {
                            draw: 0,
                            recordsTotal: 0,
                            recordsFiltered: 0,
                            data: []
                        };
                        if (!rs) {
                            layer.alert("请求出错，请稍后重试" + rs.errmsg, {icon: 2});
                            callback(fData);
                            return;
                        }
                        ;
                        if (rs.list == null) {
                            $('#sample-table tbody tr').remove();
                            $('#loading').remove();
                            callback(fData);
                            return;
                        }
                        $('#loading').remove();
                        var gearDatas = [];
                        for (var i = 0; i < rs.list.length; i++) {
                            //包装行数据
                            var rowData = new TData(rs.list[i].brandId, rs.list[i].brandName,
                                rs.list[i].brandDescription);
                            // 将行数据放到数组里
                            gearDatas.push(rowData);
                        }
                        fData.data = gearDatas;
                        fData.recordsTotal = rs.total;
                        fData.recordsFiltered = rs.total;
                        callback(fData);
                    },
                    error: function (data) {
                        layer.alert(data.responseText, {icon: 0});
                    }
                });
            },
            "columns": [ //定义行数据字段
                {data: 'brandId', name: "brand_id", sortable: true},
                {data: 'brandName', name: "brand_name", sortable: true},
                {data: 'brandDescription', name: "brand_description", sortable: true},
                {data: 'operate', width: '80px', sortable: false}
            ]
        });
    }

    //行数据结构
    function TData(brandId, brandName, brandDescription) {
        this.brandId = brandId;
        this.brandName = brandName;
        this.brandDescription = brandDescription;
        this.operate = function () {
            return "<a href='javascript:void(0);' class='btn_editcolor' data-toggle='modal' data-target='#editBrandModel' " +
                "onclick='initBrandEditModal(\"" + brandId + "\")'>编辑</a>&nbsp;" +
                "<a href='javascript:void(0);' onclick='deleteBrand(\"" + brandId + "\")' class='btn_editcolor'>删除</a>";
        }
    }

    //新增的ajax
    function insertBrand() {
        var brand = {};

        brand.brandName = $("#editInsertBrandName").val();
        brand.brandDescription = $("#editInsertBrandDescription").val();
        $.ajax({
            url: "/api/brand",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify(brand),
            success: function (rs) {
                if (rs.status == 200) {
                    initBrandTable(DEFAULT_PAGE_SIZE);
                } else {
                    layer.alert(rs.messgae, {icon: 0});
                }
            },
            error: function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    /*
    * 保存修改的ajax*/
    function saveBrandEdit() {
        var brand = {};
        brand.brandId = $("#editBrandId").val();
        brand.brandName = $("#editBrandName").val();
        brand.brandDescription = $("#editBrandDescription").val();
        $.ajax({
            url: "/api/brand",
            type: "put",
            contentType: "application/json",
            data: JSON.stringify(brand),
            success: function (rs) {
                if (rs.status == 200) {
                    initBrandTable(DEFAULT_PAGE_SIZE);
                } else {
                    layer.alert(rs.messgae, {icon: 0});
                }
            },
            error: function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    function initBrandEditModal(brandId) {
        $.ajax({
            url: "/api/brand/" + brandId,
            type: "get",
            success: function (rs) {
                $("#editBrandName").val(rs.brandName);
                $("#editBrandId").val(rs.brandId);
                $("#editBrandDescription").val(rs.brandDescription);
            },
            error: function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    function deleteBrand(brandId) {
        $.ajax({
            url: "/api/brand/" + brandId,
            type: "delete",
            success: function (data) {
                if (data.status == 200) {
                    initBrandTable(DEFAULT_PAGE_SIZE);
                } else {
                    // window.location.href = data.object;
                    layer.msg(data.message, {icon: 0});
                }
            },
            error: function (data) {
                layer.msg(data.responseText, {icon: 0});
            }
        });
    }

    /*********滚动事件*********/
    $("#page_style").niceScroll({
        cursorcolor: "#888888",
        cursoropacitymax: 1,
        touchbehavior: false,
        cursorwidth: "5px",
        cursorborder: "0",
        cursorborderradius: "5px"
    });
    $(document).ready(function () {
        var ReturnWindow = $('#contents', parent.document);
        var width = ReturnWindow.css("width");
        $("#sample-table").css({"width": width - 20 + "px"});
        $('#sample-table').location.replace(location.href);
    });
</script>
