<div class="tab-header">
    <div class="inner">
        <div class="pull-left">
            <div class="pull-left">嗨，欢迎来到<span class="cr">古风家</span></div>

        </div>
        <div class="pull-right">
            <a shiro:notAuthenticated="" href="/front/toFrontLogin"><span class="cr">登录</span></a>
            <a shiro:notAuthenticated="" href="/front/toFrontLogin?p=register">注册</a>
            <a shiro:Authenticated="user" href="/front/toInfo">个人中心</a>
        </div>
    </div>
</div>

<div class="top-search">
    <div class="inner">

        <div class="cart-box">
            <a shiro:Authenticated="user" href="/goCartPage" class="cart-but">
                <i class="iconfont icon-shopcart cr fz16"></i> 购物车
            </a>
        </div>
    </div>
</div>
<!--顶部导航-->
<div class="top-nav bg3">
    <div class="nav-box inner">

        <ul class="nva-list">
            <a href="index.html"><li class="active">首页</li></a>
            <a href="/front/traditional"><li>企业简介</li></a>

        </ul>
        <div class="user-info__box">
            <div class="login-box">
                <div class="avt-port">
                    <img src="/frontStatic/images/icons/default_avt.png" alt="欢迎来到古风家" class="cover b-r50">
                </div>
                <!-- 已登录 -->
                <div shiro:Authenticated="user" class="name c6">   Hi~ <span class="cr" >
                            <shiro:principal property="userName"/>
                </span>
                </div>
                <!-- 未登录 -->
                <div shiro:notAuthenticated="" class="name c6">Hi~ 你好</div>
                <div shiro:notAuthenticated="" class="point c6"><a href="/front/toFrontLogin">点此登录</a>，发现更多精彩</div>

            </div>


            <div class="tags">
                <div class="tag"><i class="iconfont icon-real fz16"></i> 品牌正品</div>
                <div class="tag"><i class="iconfont icon-credit fz16"></i> 信誉认证</div>
                <div class="tag"><i class="iconfont icon-speed fz16"></i> 当天发货</div>
                <div class="tag"><i class="iconfont icon-tick fz16"></i> 人工质检</div>
            </div>
        </div>
    </div>
</div>
<!-- 顶部轮播 -->
<div class="swiper-container banner-box">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="item_show.html"><img src="/frontStatic/images/temp/banner_1.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_show.html"><img src="/frontStatic/images/temp/banner_2.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_category.html"><img src="/frontStatic/images/temp/banner_3.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_show.html"><img src="/frontStatic/images/temp/banner_4.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_sale_page.html"><img src="/frontStatic/images/temp/banner_5.jpg" class="cover"></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>