<div class="tab-header">
    <div class="inner">
        <div class="pull-left">
            <div class="pull-left">嗨，欢迎来到<span class="cr">U袋网</span></div>
            <a href="agent_level.html">网店代销</a>
            <a href="temp_article/udai_article4.html">帮助中心</a>
        </div>
        <div class="pull-right">
            <a href="login.html"><span class="cr">登录</span></a>
            <a href="login.html?p=register">注册</a>
            <a href="udai_welcome.html">我的U袋</a>
            <a href="udai_order.html">我的订单</a>
            <a href="udai_integral.html">积分平台</a>
        </div>
    </div>
</div>
<!-- 搜索栏 -->
<div class="top-search">
    <div class="inner">
        <a class="logo" href="index.html"><img src="/frontStatic/images/icons/logo.jpg" alt="U袋网" class="cover"></a>
        <div class="search-box">
            <form class="input-group">
                <input placeholder="Ta们都在搜U袋网" type="text">
                <span class="input-group-btn">
						<button type="button">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
            </form>
            <p class="help-block text-nowrap">
                <a href="">连衣裙</a>
                <a href="">裤</a>
                <a href="">衬衫</a>
                <a href="">T恤</a>
                <a href="">女包</a>
                <a href="">家居服</a>
                <a href="">2017新款</a>
            </p>
        </div>
        <div class="cart-box">
            <a href="udai_shopcart.html" class="cart-but">
                <i class="iconfont icon-shopcart cr fz16"></i> 购物车 0 件
            </a>
        </div>
    </div>
</div>
<!--顶部导航-->
<div class="top-nav bg3">
    <div class="nav-box inner">
        <div class="all-cat">
            <div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
            <div class="cat-list__box">
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-skirt ce"></i> 女装
                    </div>
                </div>
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-fushi ce"></i> 男装
                    </div>


                </div>

                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-kid ce"></i> 童装
                    </div>


                </div>

            </div>
        </div>
        <ul class="nva-list">
            <a href="index.html"><li class="active">首页</li></a>
            <a href="temp_article/udai_article10.html"><li>企业简介</li></a>
            <a href="temp_article/udai_article5.html"><li>新手上路</li></a>
            <a href="class_room.html"><li>U袋学堂</li></a>
            <a href="enterprise_id.html"><li>企业账号</li></a>
            <a href="udai_contract.html"><li>诚信合约</li></a>
            <a href="item_remove.html"><li>实时下架</li></a>
        </ul>
        <div class="user-info__box">
            <div class="login-box">
                <div class="avt-port">
                    <img src="/frontStatic/images/icons/default_avt.png" alt="欢迎来到U袋网" class="cover b-r50">
                </div>
                <!-- 已登录 -->
                <div shiro:notAuthenticated="" class="name c6">Hi~ <span class="cr">18759808122</span></div>


                <!-- 未登录 -->
                <div shiro:notAuthenticated="" class="name c6">Hi~ 你好</div>
                <div shiro:notAuthenticated="" class="point c6"><a href="front/toFrontLogin">点此登录</a>，发现更多精彩</div>

            </div>
            <div class="agent-box">
                <a href="#" class="agent">
                    <i class="iconfont icon-fushi"></i>
                    <p>申请网店代销</p>
                </a>
                <a href="javascript:;" class="agent">
                    <i class="iconfont icon-agent"></i>
                    <p><span class="cr">9527</span>位代销商</p>
                </a>
            </div>
            <div class="verify-qq">
                <div class="title">
                    <i class="fake"></i>
                    <span class="fz12">真假QQ客服验证-远离骗子</span>
                </div>
                <form class="input-group">
                    <input class="form-control" placeholder="输入客服QQ号码" type="text">
                    <span class="input-group-btn">
							<button class="btn btn-primary submit" id="verifyqq" type="button">验证</button>
						</span>
                </form>
                <script>
                    $(function() {
                        $('#verifyqq').click(function() {
                            DJMask.open({
                                width:"400px",
                                height:"150px",
                                title:"U袋网提示您：",
                                content:"<b>该QQ不是客服-谨防受骗！</b>"
                            });
                        });
                    });
                </script>
            </div>
            <div class="tags">
                <div class="tag"><i class="iconfont icon-real fz16"></i> 品牌正品</div>
                <div class="tag"><i class="iconfont icon-credit fz16"></i> 信誉认证</div>
                <div class="tag"><i class="iconfont icon-speed fz16"></i> 当天发货</div>
                <div class="tag"><i class="iconfont icon-tick fz16"></i> 人工质检</div>
            </div>
        </div>
    </div>
</div>
<!-- 顶部轮播 -->
<div class="swiper-container banner-box">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="item_show.html"><img src="/frontStatic/images/temp/banner_1.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_show.html"><img src="/frontStatic/images/temp/banner_2.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_category.html"><img src="/frontStatic/images/temp/banner_3.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_show.html"><img src="/frontStatic/images/temp/banner_4.jpg" class="cover"></a></div>
        <div class="swiper-slide"><a href="item_sale_page.html"><img src="/frontStatic/images/temp/banner_5.jpg" class="cover"></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>