<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/frontStatic/favicon.ico">
    <link rel="stylesheet" href="/frontStatic/css/iconfont.css">
    <link rel="stylesheet" href="/frontStatic/css/global.css">
    <link rel="stylesheet" href="/frontStatic/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontStatic/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/frontStatic/css/swiper.min.css">
    <link rel="stylesheet" href="/frontStatic/css/styles.css">
    <script src="/frontStatic/js/jquery.1.12.4.min.js" charset="UTF-8"></script>
    <script src="/frontStatic/js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="/frontStatic/js/swiper.min.js" charset="UTF-8"></script>
    <script src="/frontStatic/js/global.js" charset="UTF-8"></script>
    <script src="/frontStatic/js/jquery.DJMask.2.1.1.js" charset="UTF-8"></script>
    <title>U袋网</title>
</head>
<body>
<!-- 顶部tab -->
<div class="tab-header">
    <div class="inner">
        <div class="pull-left">
            <div class="pull-left">嗨，欢迎来到<span class="cr">U袋网</span></div>
            <a href="agent_level.html">网店代销</a>
            <a href="temp_article/udai_article4.html">帮助中心</a>
        </div>
        <div class="pull-right">
            <a href="/front/toFrontLogin"><span class="cr">登录</span></a>
            <a href="/front/toFrontLogin?p=register">注册</a>
            <a href="udai_welcome.html">我的U袋</a>
            <a href="udai_order.html">我的订单</a>
        </div>
    </div>
</div>
<script>


</script>
<!-- 顶部标题 -->
<div class="bgf5 clearfix">
    <div class="top-user">
        <div class="inner">
            <a class="logo" href="/front/index"><img src="/frontStatic/images/icons/logo.jpg" alt="U袋网"
                                                     class="cover"></a>
            <div class="title">购物车</div>
        </div>
    </div>
</div>
<div class="content clearfix bgf5">
    <section class="user-center inner clearfix">
        <div class="user-content__box clearfix bgf">
            <div class="title">购物车</div>
            <form action="udai_shopcart_pay.html" class="shopcart-form__box">
                <table class="table table-bordered" id="sourceTale">
                    <thead>
                    <tr>
                        <th width="150">
                            <label class="checked-label"><input type="checkbox" class="check-all"><i></i> 全选</label>
                        </th>
                        <th width="300">商品信息</th>
                        <th width="150">单价</th>
                        <th width="200">数量</th>
                        <th hidden width="200">产品id</th>

                        <th width="80">操作</th>
                    </tr>
                    </thead>

                    <tbody id="tbodyCart">

                    </tbody>


                </table>
                <div class="user-form-group tags-box shopcart-submit pull-right">
                    <a id="commitOrder" class="btn">提交订单</a>
                </div>

                <div class="checkbox shopcart-total">
                    <label><input type="checkbox" class="check-all"><i></i> 全选</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">删除</a>

                </div>
                <script>
                    $(document).ready(function () {
                        shoppingCart();
                        $("#commitOrder").bind('click', function () {
                            commitOrder()
                        });
                    });
                    function commitOrder() {
                        var orderlist = new Array();
                        var orderInfo = {};
                        var checkLength = $("input:checkbox[name='ckb']:checked").length;
                        if (checkLength == 0) {
                            alert("请至少选择一个商品！");
                            return;
                        }
                        $("input[type='checkbox']").each(function () { //遍历checkbox的选择状态
                            if ($(this).prop("checked")) { //如果值为checked表明选中了
                                orderInfo.imageMain = $(this).closest('tr').find('td').eq(0).find('img').attr('src');
                                orderInfo.productName = $(this).closest('tr').find('td').eq(1).find('.ep3').text();
                                //价格
                                orderInfo.productPrice = $(this).closest('tr').find('td').eq(2).text();
                                //个数
                                orderInfo.orderNumber = $(this).closest('tr').find('td').eq(3).find('input').eq(1).val();
                                orderInfo.orderProductId = $(this).closest('tr').find('td').eq(4).text();
                                
                            }
                        });



                    }

                    function shoppingCart(){
                        $.ajax({
                            url: "shoppingCart/selectAll",
                            type: "get",
                            success: function (data) {
                               var  html1 ="";
                                for (var i = 0; i < data.length; i++) {
                                    html1 +="<tr>\n" +
                                        "                        <td scope=\"row\">\n" +
                                        "                            <label class=\"checked-label\"><input name='ckb' type=\"checkbox\"><i></i>\n" +
                                        "                                <div class=\"img\"><img name=\"image\"  src=\""+data[i].productMainImage+"\" alt=\"\"\n" +
                                        "                                                      class=\"cover\"></div>\n" +
                                        "                            </label>\n" +
                                        "                        </td>\n" +
                                        "                        <td>\n" +
                                        "                            <div class=\"name ep3\">" + data[i].productName + "</div>\n" +
                                        "                        </td>\n" +
                                        "                        <td>" + data[i].productPrice + "</td>\n" +
                                        "                        <td>\n" +
                                        "                            <div class=\"cart-num__box\">\n" +
                                        "                                <input type=\"button\" class=\"sub\" value=\"-\">\n" +
                                        "                                <input type=\"text\" class=\"val\" value=\"" + data[i].productNumber + "\" maxlength=\"2\">\n" +
                                        "                                <input type=\"button\" class=\"add\" value=\"+\">\n" +
                                        "                            </div>\n" +
                                        "                        </td>\n" +
                                        "                        <td hidden>" + data[i].productId + "</td>\n" +
                                        "\t\t\t\t\t\t\n" +
                                        "                        <td><a onclick=\"deleteOneShoppingCartRecord("+data[i].userName+","+data[i].productId +")\" >删除</a></td>\n" +
                                        "                    </tr>"
                                }
                                $("#tbodyCart").append(html1);
                            },
                            error: function (data) {
                                alert("出错了")
                            }
                        })
                    }

                    function deleteOneShoppingCartRecord(userName, productId) {
                        $.ajax({
                            url: "shoppingCart/deleted/"+userName+"/"+productId,
                            type: "delete",

                            success: function (data) {
                                alert(data.massage);
                                shoppingCart();
                            },
                            error: function (data) {
                                layer.msg(data.massage, {icon: 0});
                            }
                        })
                    }


                    $(document).ready(function () {
                        var $item_checkboxs = $('.shopcart-form__box tbody input[type="checkbox"]'),
                            $check_all = $('.check-all');
                        // 全选
                        $check_all.on('change', function () {
                            $check_all.prop('checked', $(this).prop('checked'));
                            $item_checkboxs.prop('checked', $(this).prop('checked'));
                        });
                        // 点击选择
                        $item_checkboxs.on('change', function () {
                            var flag = true;
                            $item_checkboxs.each(function () {
                                if (!$(this).prop('checked')) {
                                    flag = false
                                }
                            });
                            $check_all.prop('checked', flag);
                        });
                        // 个数限制输入数字
                        $('input.val').onlyReg({reg: /[^0-9.]/g});
                        // 加减个数
                        $('.cart-num__box').on('click', '.sub,.add', function () {
                            var value = parseInt($(this).siblings('.val').val());
                            if ($(this).hasClass('add')) {
                                $(this).siblings('.val').val(Math.min((value += 1), 99));
                            } else {
                                $(this).siblings('.val').val(Math.max((value -= 1), 1));
                            }
                        });
                    });
                </script>
            </form>
        </div>
    </section>
</div>
<!-- 右侧菜单 -->
<div class="right-nav">
    <ul class="r-with-gotop">
        <li class="r-toolbar-item">
            <a href="udai_welcome.html" class="r-item-hd">
                <i class="iconfont icon-user" data-badge="0"></i>
                <div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="udai_shopcart.html" class="r-item-hd">
                <i class="iconfont icon-cart"></i>
                <div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="udai_collection.html" class="r-item-hd">
                <i class="iconfont icon-aixin"></i>
                <div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="" class="r-item-hd">
                <i class="iconfont icon-liaotian"></i>
                <div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="issues.html" class="r-item-hd">
                <i class="iconfont icon-liuyan"></i>
                <div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
            </a>
        </li>
        <li class="r-toolbar-item to-top">
            <i class="iconfont icon-top"></i>
            <div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
        </li>
    </ul>
    <script>
        $(document).ready(function () {
            $('.to-top').toTop({position: false})
        });
    </script>
</div>

<!-- 底部信息 -->
<div th:replace="/frontPage/fragments/footer"></div>
</body>
</html>