<div class="pull-left bgf">
    <a href="udai_welcome.html" class="title">古风家欢迎页</a>
    <dl class="user-center__nav">
        <dt>帐户信息</dt>
        <a href="/front/toInfo"><dd class="active">个人资料</dd></a>
        <a href="/front/treasurer"><dd>资金管理</dd></a>
        <a href="/front/addressEdit"><dd>地址管理</dd></a>
    </dl>
    <dl class="user-center__nav">
        <dt>订单中心</dt>
        <a href="/front/order"><dd>我的订单</dd></a>
<!--        <a href="/front/refund"><dd>退款</dd></a>-->
    </dl>
    <dl class="user-center__nav">
        <dt>古风家</dt>
        <a href="/front/traditional"><dd>企业简介</dd></a>
        <a href="/front/article"><dd>隐私说明</dd></a>
    </dl>
</div>